<!-- Material form login -->
<mdb-card>

  <mdb-card-header class="danger-color white-text text-center py-4">
    <h5>
      <strong>Sign in</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" color="danger-color">

      <!-- Email -->
      <div class="md-form">
        <input type="text" id="materialLoginFormEmail" class="form-control" mdbInputDirective>
        <label for="materialLoginFormPseudo" name="login">login</label>
      </div>
      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" mdbInputDirective>
        <label for="materialLoginFormPassword" name="password">Mot de passe</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox>C'est qui ?</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="" color="danger-color">Mot de passe oublié ? dommage !</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="danger-color" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit">Se connecter</button>

      <!-- Register -->
      <p>Pas encore membre?
        <a href="">Dommage encore</a>
      </p>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form login -->
